.chat-app {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px);
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;

    .approve-button {
        width: 100%;
        max-width: 150px;
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        background-color: royalblue;
        color: white;
        height: 50px;
    }

    .approve-button:hover {
        box-shadow: 2px 2px 4px 2px gray;
    }
}