.oracle-button {
    display: block;
    background-color: #f5f5f5;
    border: none;
    box-shadow: 0px 0px 4px 1px #2d2d2d;
    background-color: #ffffff;
    cursor: pointer;
    width: 35%;
    height: 15%;
    color: #000000;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.5s ease;
}

.oracle-button:hover {
    background-color: #607d8b;
    color: #ffffff;
}